<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="/s/style.css">
  <script type="text/javascript" src="/s/jquery.min.js"></script>
</head>
<body>
  <div id="header">
    <div style="text-align: right">
      {{modules.UserModule(user)}}</div>
  </div>
  <div id="container">
    <div id="mainbg">
      <div id="right">
        {% block right %}{% end %}
      </div>
      <div id="left">
        <!-- modules.MenuModule(user) -->
        {% block left %}{% end %}
      </div>
    </div>
  </div>
  <div id="footer">
    footer</div>
</body>
</html>
