<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="/s/style.css">
  <style type="text/css">
  .fh { width: 32px; heigth:32px; border: 0px}
  </style>
</head>
<body>
  <div id="header">
    <div style="text-align:right">{{modules.UserModule(user)}}</div>
  </div>
  <div id="container">
    <div id="mainbg">
      <div id="right">
        {% block right %}{% end %}
      </div>
      <div id="left">
        <!-- modules.MenuModule(user) -->
        {% block left %}{% end %}
      </div>
    </div>
  </div>
  <div id="footer">
    footer</div>
</body>
</html>
