<div>
<a class="f_actor_a" href="/u/{{feed.owner}}">
<img class="head" src="/s/a.jpg" />
</a>

<div class="blockcontent">
<h6 class="f_body">
  <a class="f_actor_name name">{{ feed.name }}</a>
  {{ escape(feed.body) }}<br />
</h6>
<div class="f_attach"></div>

<form method="post" ajaxify="/j/action" data="{{feed._id}}">
  {{ xsrf_form_html() }}
  <input type="hidden" name="fid" value="{{feed._id}}" />
  <input type="hidden" name="action" value="" />
  <input type="hidden" name="p" value="-1" />
  
<abbr class="timestamp" title="{{feed.time.strftime('%x %X')}}">{{FormatTime(feed.time)}}</abbr>
<span class="f_action">
<label class="f_action_link" title="Leave a comment" onclick="ShowCommnet(this);return false;">Comment</label> · 
<label class="f_action_link" title="Leave a comment" onclick="Like(this);return false;">Like</label> · 
<label class="f_action_link" title="Leave a comment" onclick="return false;">特殊操作</label> · 
</span>

<ul class="f_form_ul">
<li class="f_form_item {%if True%}hide{%end%}">xxx people like this.</li>
<li class="f_form_item {%if not len(feed.comments) %}hide{%end%}">view all xxx comments</li>
<li class="f_form_item {%if not len(feed.comments) %}hide{%end%}">
  <ul class="f_c_ul">{% for c in feed.comments %}
  <li>{{modules.FeedCommentModule(c)}}</li>{% end %}
</ul>
</li>
<li class="f_form_item {%if not len(feed.comments) %}hide{%end%}">
 <textarea class="placeholder" name="c" onfocus="return PlaceFocus(this, event);" placeholder="Write a comment...">Write a comment...</textarea>
 <label class="to_right"><input type="submit" value="Comment" onclick="Comment(this, event);return false;"></label>
</li>
</ul>

</form>
</div>
</div>

