{% extends "base.html" %}
{% block left %}
<a class="f_actor_a" href="/u/{{user.id}}" tabindex="-1">
<img class="head" src="{{user.head}}" />
</a>

<div class="blockcontent">
<a class="name" href="/u/{{user.id}}">{{user.name}}</a><br />
Edit My Profile<br />
</div>
<br /><br />

<ul>
<li><a href="/">新鲜事</a></li>
<li><a href="">站内信</a></li>
<li><a href="">活动</a></li>
<li><a href="">好友</a></li>
</ul>
{% end %}

{% block right %}
<div class="inputshadow">
  <div id="universal_input" contenteditable="true">
    <br />
  </div>
</div>

<div id="universal_input_buttons">
  <ul class="uib_items">
    <li><a class=""><i class="spritemap_0"></i><span>Photos</span></a></li>
    <li><a class=""><i class="spritemap_0"></i><span>Photos</span></a></li>
  </ul>
</div>
<br />

<ul>{% for feed in feeds %}
<li>{{modules.FeedModule(feed)}}</li>
{% end %}</ul>

<script type="text/javascript">
$(document).ready(function() {  
})
</script>
{% end %}
