{% extends "base.html" %}
{% block left %}
{% if user %}
<a class="f_actor_a" href="/u/{{user.id}}">
<img class="head" src="{{user.head}}" />
</a>

<div class="blockcontent">
<a class="name" href="/u/{{user.id}}">{{user.name}}</a><br />
Edit My Profile<br />
</div>
{% end %}
<br /><br />

<ul>
<li><a href="/">新鲜事</a></li>
<li><a href="">站内信</a></li>
<li><a href="">活动</a></li>
<li><a href="">好友</a></li>
</ul>
{% end %}


{% block right %}
<!--
<input type="submit" class="matte" value="Click Me" />
<button class="matte">Click Me</button>
<button disabled="" class="matte">Click Me</button>
-->
<div class="inputshadow">
  <div id="universal_input" contenteditable="true" ajaxify="/j/publish"></div>
</div>

<div id="universal_input_buttons" class="hide">
  <ul class="uib_items">
    <li><a class=""><i class="spritemap_0"></i><span>Photos</span></a></li>
    <li><a class=""><i class="spritemap_0"></i><span>Photos</span></a></li>
  </ul>
  <label class="to_right">
    <input type="submit" value="Share" onclick="UniversalEditSubmit(event)">
  </label>
</div>
<br />
<br />

<ul id="story">{% for feed in feeds %}
<li class="f_list_item">{{modules.FeedModule(feed)}}</li>
{% end %}</ul>

<script type="text/javascript">
function UniversalEditInit() {
  var ue = $('#universal_input');
  ue.focus(function() {
    $('#universal_input_buttons').removeClass('hide');
  });
  ue.blur(function() {
    if (ue.html() == '')
      $('#universal_input_buttons').addClass('hide');
  });
}
function UniversalEditSubmit(e) {
  console.log('INFO:', e);
  e.preventDefault();
  
  var ue = $('#universal_input');
  var url = ue.attr('ajaxify');
  $.postJSON(url, {content: ue.html()}, UniversalEditResponse);
}
function UniversalEditResponse(res) {
  if (0 != res.error) return;
  $('#story').prepend('<li class="f_list_item">' + res.payload + '</li>');
  var ue = $('#universal_input');
  ue.html('');
}

function getCookie(name) {
  var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
  return r ? r[1] : undefined;
}
jQuery.postJSON = function(url, args, callback) {
  args._xsrf = getCookie("_xsrf");
  $.ajax({ url: url, data: $.param(args), dataType: "text", type: "POST",
    success: function(response) {
      if (callback) callback(eval("(" + response + ")"));
    }, error: function(response) {
      console.log("ERROR:", response)
    }
  });
};
jQuery.fn.formToDict = function() {
  var fields = this.serializeArray();
  var json = {}
  for (var i = 0; i < fields.length; i++) {
    json[fields[i].name] = fields[i].value;
  }
  if (json.next) delete json.next;
  return json;
};
jQuery.fn.disable = function() {
  this.enable(false);
  return this;
};

function PlaceBlur(e) {
  var jo = $(this);
  if (jo.html() == '')
    jo.html(jo.attr('placeholder'));
}
function PlaceFocus(obj, e) {
  var jo=$(obj);
  jo.html('');
  jo.blur(PlaceBlur);
}

function ShowCommnet(obj) {
  var form = $(obj).parent().parent();
  // var lis = 
  form.find('li').removeClass('hide');
  // lis.each(function(i, o) { o.removeClass('hide'); })
  // $(lis[1]).removeClass('hide');
  // $(lis[2]).removeClass('hide');

  var t = form.find('.placeholder');
  t.focus();
}
function Like(obj) {
  console.log('Like:', obj);
}

function Comment(obj, e) {
  e.preventDefault();

  var form = $(obj).parentsUntil('form').parent();

  var disabled = form.find("input[type=submit]");
  disabled.attr('disabled', 'disabled');

  var action = form.find("input[name=action]");
  action.attr('value', 'comment');
  
  var url = form.attr('ajaxify');
  var to_submit = form.formToDict();
  
  $.postJSON(url, to_submit, CommentResponse);
}

function CommentResponse(res) {
  console.log('comment res:', res);
  // find the form
  var form = $('form[data=' + res.fid + ']');

  var disabled = form.find("input[type=submit]");
  console.log('find submit:', disabled);
  disabled.removeAttr('disabled');

  // find li which contained this feed
  var ul = form.find('.f_c_ul');
  console.log('find ul:', ul.get(0));
  ul.append('<li>' + res.payload + '</li>');
}

$(document).ready(function() {
  // var a = '334\xe4\xb8\xad\xe6\x96\x87\u4e2d\u6587'; alert(a);
  if (!window.console) window.console = {};
  if (!window.console.log) window.console.log = function() {};
  
  UniversalEditInit();
})
</script>
{% end %}
