<div>
<a href="/u/{{feed.owner}}"><img class="fh" src="{{feed.head}}" />{{ feed.name }}</a>
&nbsp;{{ feed.body }}<br />

LikeCount {{FormatTime(feed.time)}} <a href="javascript:">回复</a>
<span class="fs">-</span><a href="javascript:">Like</a>
<span class="fs">-</span><a href="javascript:">特殊操作</a><br />

{% for c in feed.comments %}
{{modules.FeedCommentModule(c)}}
{% end %}
<form method="post" action="/feed/comment">
  <input type="text" name="c" />
  <input type="hidden" name="fid" value="{{feed._id}}" />
  <input type="submit" />
</form>
</div>
